#body {
    background-color: #F6F8F9;
}
#header{
    display: flex;
	justify-content: center; 
    width: 1440px;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    top:0;
    left:0;
    font-weight: bold;
    background-color: #FFFFFF;
}
#navigation{
    display: flex;
    align-items: center;
	width: 1400px;
}
#nav{
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-left: 92px;
    align-items: center;
    text-align: center;
}
#logo{
    color: #FA6980;
    font-family: 'Kanit';
    padding-left: 20px;
}
.nav-li{
    color: #343638;
    font-size: 11px;
    font-family: 'Kanit';
}
#madam {
    padding-left: 40px;
}
#trending-main {
    margin-left: 20px;
    margin-top: 75px;
}
.trend {
    font-size: 24px;
    font-family: 'Kanit';
    color: #202124;
    font-weight: bold;
    width: 770px;
    height: 20px;
}
#trend-boxes {
    width: 1160px;
    height: 410px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box {
    width: 360px;
    height: 350px;
    color: #FFFFFF;
    position: relative;
    align-items: center;
}
.mount {
    border-radius: 6px 6px 0 0;
}
.box-txt {
    width: 280px;
    height: 16px;
    position: absolute;
    font-family: 'Kanit';
    color: #FFFFFF;
    top: 24px;
    left: 40px;
    font-size: 16px;
}
.box-txt-2 {
    width: 280px;
    height: 38px;
    font-family: 'Titillium Web';
    color: #A6ADB4;
    font-size: 13px;
    text-align: center;
    margin-top: 66px;
    margin-left: 40px;
}
.time {
    margin-top: 10px;
    margin-left: 40px;
}
#section-2 {
   width: 1160px;
   margin-top: 58px;
   display: flex;
   justify-content: space-between;
}
.img-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 1160px;
    width: 100%;
    margin-right: 40px;
}
#franco-block{
    position: absolute;
    top: 194px;
    left: 308px;
}
#franc-txt {
    position: relative;
    width: 280px;
    height: 17px;
    color: #FFFFFF;
    font-family: 'Kanit';
    font-weight: bold;
}
.images-block {
    width: 760px;
    height: 430px;
}
#img-block-2 {
    width: 760px;
    height: 430px;
}
.img-block-2 {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 896px;
}
.img-pack:nth-child(1) {
    margin-bottom: 102px;
}
.img-pack:nth-child(2) {
    margin-bottom: 102px;
}
