#body {
    background-color: #F6F8F9;
}
#header{
    display: flex;
	justify-content: center; 
    width: 1440px;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 300;
	
}
#navigation{
    display: flex;
    align-items: center;
	width: 1400px;
}
#nav{
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-left: 92px;
}
#logo{
    color: #FA6980;
    font-family: 'Kanit';
}
.nav-li{
    color: #343638;
    font-size: 11px;
    font-family: 'Kanit';
}
